.yb-ccl-banner_channel{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1em;
}

@media only screen and (max-width: 1060px){
    .yb-ccl-banner_channel-img{
        width: 100%;
    }
}