
$margin-label_btn: 7px 0 5px 0;
$background_color-btn: #1E90FF;

.yb-app-block_btn_control{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 2em;
    margin-top: 3em;
}

.yb-app-block_btn_control-next_btn_text{
    float: left;
    margin: $margin-label_btn;
}

.yb-app-block_btn_control-next_btn_img{
    float: right;
}


.yb-app-block_btn_control-prev_btn_text{
    float: right;
    margin: $margin-label_btn;
}
.yb-app-block_btn_control-prev_btn_img{
    float: left;
}


.yb-app-block_btn_control-prev_btn,
.yb-app-block_btn_control-next_btn{
    padding-bottom: 0px;
    display: none;
    background-color: white;
    color: black;
    outline:none;
    &:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: $background_color-btn;
        color: white;
        outline:none;
    }
}



