
.yb-cvl-main_container{
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 1em;
    margin-right: 1em;
}

.yb-cvl-main_container-main_video_container {
    flex: 2 1 850px;
    background-image: linear-gradient(transparent, whitesmoke);
    //background-color: whitesmoke;
    padding: 1em 1em 1em 1em;
    margin-left: 1%;
}

.yb-cvl-main_container-some_videos_container {
    flex:2 1 550px;
}


.yb-cvl-video_content-label_info{
    margin-bottom: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 1050px){
    .yb-cvl-main_container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);


    }
    .yb-cvl-main_container-main_video_container{
        grid-column: span 12;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 1em 1em 1em 1em;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
    }
    .yb-cvl-main_container-some_videos_container {
        grid-column: span 12;

    }
}

.yb-cvl-main_video_constainer-video_content{
    display: flex;
    flex-direction: column;
    margin-top: 1em
;
}


.yb-cvl-video_content-title{
    font-family: Roboto, Arial,sans-serif;
    font-size: 22px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.yb-cvl-video_content-channel_title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.yb-cvl-video_content-desc{
    font-family: Roboto, Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
